body {
    background-color: #FA97E2;
    text-align: justify;
}
p {font-size: 42px;}
    i {color:aquamarine; 
    font-size: 44px; }
h1 {text-align: center;
    color: #550F61;
    background-color: #7B22AD;
    font-size: 48px;}
b {color: #2D30E0;}
i {color:#0091FF;}